<!-- <h1>{{ dbzService.title }}</h1> -->
<h1>{{ title }}</h1>
<hr>
<div class="row">
    <div class="col">
        <!-- <dbz-list [characterList]="dbzService.characters" (onDelete)="dbzService.onDeleteCharacterPadre($event)"></dbz-list> -->
        <!-- <dbz-list [characterList]="dbzService.characters" (onDelete)="dbzService.onDeleteCharacterPadre($event)"></dbz-list> -->
        <dbz-list [characterList]="characters" (onDelete)="onDeleteCharacter($event)"></dbz-list>
    </div>
    <div class="col">
        <!-- {{ chacaracters }} -->
        <dbz-add-character (onNewCharacter)="onNewCharacter($event)"></dbz-add-character>
    </div>
</div>